In [48]:
import nltk
import random
nltk.download('punkt')
nltk.download('gutenberg')
from nltk.corpus import gutenberg
import pandas as pd
import regex as re
import string

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!

In [49]:
def labelling(df):
  df = pd.read_csv('Gutenberg_Sentence_Extract.csv')
  group_book_name = df.groupby('Book Name')
  label_alphabets = {i: letter for i, letter in enumerate(string.ascii_lowercase)}
  df['Label'] = pd.factorize(df['Book Name'])[0]
  df['Label'] = df['Label'].replace(label_alphabets)
  df.to_csv('Gutenberg_Sentence_Extract.csv', index=False)
  return df

In [50]:
df = pd.DataFrame(columns=['Book Name', 'Sentence'])
for i in range(0,200):
  sentence=''
  full_book_ids = gutenberg.fileids()
  random_book = random.choice(full_book_ids)
  book_name = random_book.replace('.txt','')
  book_full_text = gutenberg.raw(random_book)
  split_word = re.split('\s',book_full_text)
  length = len(split_word)
  range1 = random.randint(0, length-105)
  range2 = range1 + 105
  for a in range(range1, range2):
    sentence+=' '+split_word[a]
  book_sentence = {'Book Name': book_name, 'Sentence': sentence}
  df=df.dropna(axis=1, thresh=1)
  df=df.append(book_sentence,ignore_index=True)
df.to_csv('Gutenberg_Sentence_Extract.csv', index=False)
labelling(df)

,Book Name,Sentence,Label
0,chesterton-thursday,"a Christian Sunday. ""This is getting wilder ...",a
1,chesterton-ball,"is the way he talks,"" said MacIan, almost ind...",b
2,austen-persuasion,"Mrs Croft's, and say that we are settled here...",c
3,blake-poems,"I am black, but oh my soul is white! White ...",d
4,blake-poems,sees; Whose ears have heard The Holy Word ...,d
...,...,...,...
195,milton-paradise,seemed to justify the deed; She gave me of t...,j
196,shakespeare-hamlet,Laer. Drown'd! O where? Queen. There is...,r
197,bryant-stories,"""I think it's time to go home, now,"" he sai...",n
198,austen-sense,"she was almost as bad. I declare, I have no p...",i
199,bryant-stories,"""Then I'll go to the woods, so that the anim...",n